<%= form_for @post, :url => { :action => "update" } do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :teaser %>
  <%= f.text_area :body %>
  <%= f.submit "Update" %>
  <% if @post.errors.any? %>
  	<ul>
  		<% @post.errors.full_messages.each do |error_message| %>
  			<li><%= error_message %></li>
  		<% end %>
  	</ul>
  <% end %>
<% end %>