<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<%= link_to "Edit Post", edit_post_path(@post) %>

<h2> Submit a comment </h2>
<%= form_for [@post, @post.comments.build] do |f| %>
	<%= f.text_area :body %>
	<%= f.email_field :email %>
	<%= f.submit "Create" %>
<% end %>

<% @post.comments.each do |comment| %>
	<p>
		<%= comment.body %>
		<%= comment.email %>
	</p>
<% end %>