<%= render 'shared/errors' %>

<% cache @post do %>
	<h1><%= @post.title %></h1>
	<%= image_tag @post.image_url(:thumb).to_s %>
	<p><%= @post.body %></p>
	<%= link_to "Edit Post", edit_post_path(@post) %>

	<% @post.comments.each do |comment| %>
		<% if comment.approved == true %>
			<p>
				<%= comment.body %>
				<%= comment.email %>
			</p>
		<% else %>
			<p>Pending admin approval <span><%= comment.email %></span></p>
		<% end %>
	<% end %>
<% end %>

<h2> Submit a comment </h2>
<%= form_for [@post, @post.comments.build] do |f| %>
	<%= f.text_area :body %>
	<%= f.email_field :email %>
	<%= f.submit "Create" %>
<% end %>

