<!DOCTYPE html>
<html>
<head>
  <title>MaxQlapWeblog</title>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'shared/navigation' %>
	<%= flash[:notice] if flash[:notice] %>
	<%= flash[:alert] if flash[:alert] %>
	<%= yield %>

</body>
</html>
