<!DOCTYPE html>
<html>
<head>
  <title>MaxQlapWeblog</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if flash[:notice] %>
		<%= flash[:notice] %>
	<% end %>
	<%= render 'shared/navigation' %>
	<%= yield %>

</body>
</html>
